/* Reset Css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* common */

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}


/*  */

#app {}

#header {
    position: fixed;
    height: 46px;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    text-transform: uppercase;
}

#nav .subnav li:hover a,
#nav>li:hover>a {
    color: #000;
    background-color: #ccc
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
}

#nav li:hover .subnav {
    min-width: 160px;
    display: block;
}

#nav .subnav {
    display: none;
    top: 100%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#nav .nav-arrow {
    font-size: 12px;
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#search {
    float: right;
    cursor: pointer;
}

#search .search-icon {
    padding: 0 24px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

#search:hover {
    background-color: #f44336;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background-image: url(/assets/img/ny.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


/* */

#slider #infoslider {
    position: absolute;
    color: #fff;
    bottom: 0;
    /* Căn giữa 
     left: 50%;
    transform: translateX(-50%); */
    right: 0;
    left: 0;
    padding-bottom: 47px;
    text-align: center;
}


/*  */

#slider #text-header {}

#slider #text-content {}

#content {}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
}

#content .team {
    margin-top: 47px;
    /* các lớp con có float khiến class lớn hơn đẩy ra, kahcs phục bằng */
    overflow: hidden;
}

.team .namemember {
    font-size: 15px;
}

.team .imgmember {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.tour-section .book-ticker {
    background-color: #fff;
    margin-top: 25px;
}

.tour-section .item {
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}

.tour-section .sold-out {
    background-color: red;
    color: #fff;
    padding: 4px;
}

.tour-section .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
}

#buyticker {
    overflow: hidden;
    margin-top: 32px;
    padding-bottom: 32px;
}

#buyticker .contentticker {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

#buyticker .img-ticker {
    width: 100%;
    display: block;
}

.img-ticker:hover {
    opacity: 0.5;
}

.place-tiker {
    margin-top: 15px;
}

.date-ticker {
    margin-top: 15px;
    color: #757575;
}

.ticker-desc {
    margin-top: 15px;
}

.btn-buy {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border: none
}

.btn-buy:hover {
    background-color: #757575;
}

.contact-content {
    margin-top: 48px;
    overflow: hidden;
    ;
}

.form-submit-btn {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border: none;
    float: right;
}

.form-submit-btn:hover {
    background-color: #757575;
}

.subheading {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin-top: 25px;
    opacity: 0.6;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4
}

.contact-info i {
    width: 30px;
    display: inline-block;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.about {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

.map {}

.imgmap {
    width: 100%;
}

.social {}

#footer {
    margin: 32px 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
}

#footer a {
    color: #757575;
    text-decoration: none;
}